# ---------------------------------------------------------------
# ---------------------------------------------------------------
SECRET_KEY = 'django-insecure-e7_317ztbksbuzf^28d$c$wh8e6av@g7gf#=x6kfw-8s9jf4)@'
# ---------------------------------------------------------------

# ---------------------------------------------------------------
# pathao api 
# ---------------------------------------------------------------
PATHAO_API_BASE_URL = 'https://courier-api-sandbox.pathao.com'
PATHAO_API_CLIENT_ID = '267'
PATHAO_API_CLIENT_SECRET = 'wRcaibZkUdSNz2EI9ZyuXLlNrnAv0TdPUPXMnD39'
PATHAO_API_USERNAME = 'test@pathao.com'
PATHAO_API_PASSWORD = 'lovePathao'
# ---------------------------------------------------------------